<nav class="cover-navigation navigation--social">
  <ul class="navigation">


  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://weibo.com/p/1005053325141444" title="新浪微博" target="_blank">
      <i class='social fa fa-weibo'></i>
      <span class="label">Weibo</span>
    </a>
  </li>

  <!-- LinkedIn -->
  <li class="navigation__item">
      <a href="https://cn.linkedin.com/in/文武-邵-31b06a86" title="LinkedIn" target="_blank">
          <i class='social fa fa-linkedin'></i>
          <span class="label">LinkedIn</span>
      </a>
  </li>

  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/CN-Sean" title="Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:wenwu.shao@qq.com" title="邮件联系我">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>

  </ul>
</nav>